:host {
    display: block;
    height: 100%;
    overflow: auto;
}
h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333333;
}

.product-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.product-price {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #00796b;
}

p-card.block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

p-card.block:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-color: #ffc107;
}

.star-rating .fa-star {
  font-size: 24px;
  color: #ccc;
  margin-right: 5px;
}

.star-rating .fa-star.filled {
  color: #ffd700;
}


.in-stock {
  color: #28a745;
}

.low-stock {
  color: #ffc107;
}

.out-of-stock {
  color: #dc3545;
}

.flex {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.p-button {
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
}

.p-button .pi {
  font-size: 1.2rem;
}

.product-rating {
  display: flex;
  align-items: center;
}

.star-rating {
  display: flex;
  gap: 5px;
}

.pi-star,
.pi-star-fill {
  font-size: 1.5rem;
  color: #ffd700;
  cursor: pointer;
  transition: color 0.3s ease;
}

.pi-star {
  color: #ccc;
}

.pi-star:hover {
  color: #ffbf00;
}


